<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<head>
    <script type="text/javascript" src="lib/vue.js"></script>
    <script type="text/javascript" src="lib/vue-router.js"></script>
    <script type="text/javascript" src="experiments.js"></script>
    <script type="text/javascript" src="projects.js"></script>
    <script type="text/javascript" src="app.js"></script>
    <script type="text/x-template" id="about-template">
        <div class="home-root">
            <div class="intro">
                Shan is a creative engineer and generative artist based in Shanghai, China. She makes art with code.
                <br/>
                <br/> Her interest focuses on exploring intricate visuals enabled only by computer algorithms, and extending
                the creative experience to everyone through interactive media.
                <br/>
                <br/> For collaboration requests, please
                <a href="mailto:yemount@gmail.com"> get in touch</a>.
                <br/>
                <br/>
                <br/>
                2014 - current, Google, Senior Software Engineer.<br/>
                2010 - 2014, Carnegie Mellon University, BS in Computer Science, additional major in HCI.
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <p class="home-title bold">Contact</p>
                <a href="mailto:yemount(at)gmail.com"><p>yemount@gmail.com</p></a>
                <a href="https://www.instagram.com/yemount/"><p>Instagram</p></a>
                <a href="https://twitter.com/yemount"><p>Twitter</p></a>
            </div>
            <div class="cover-image">
                <img src="images/cover-image.png">
            </div>
        </div>
    </script>
    <script type="text/x-template" id="experiments-template">
        <!-- TODO: Defer loading for unshown feeds. -->
        <div class="experiments-container">
            <div class="experiment-card" v-for="experiment in experiments">
                <img v-if="experiment.image" v-bind:src="experiment.image"></img>
                <div v-html="experiment.embed"></div>
                <div class="text-container">
                    <p v-if="experiment.title" class="title">{{experiment.title}}</p>
                    <p v-if="experiment.date" class="date">{{experiment.date}}</p>
                </div>
            </div>
        </div>
    </script>
    <script type="text/x-template" id="projects-template">
        <div class="projects-root">
            <left-navbar v-bind:activecategory="category"></left-navbar>
            <div class="project-container">
                <div class="project-card" v-for="project in projects">
                    <router-link :to="`/project-details/${project.id}`">
                        <p>{{project.title}}</p><br/>
                        <img v-if="project.thumb" v-bind:src="project.thumb"></img>
                    </router-link>
                </div>
            </div>
        </div>
    </script>
    <script type="text/x-template" id="left-navbar-template">
        <div class="left-bar">
            <p class="lb-header bold">Categories</p>
            <p class="lb-sub" v-for="category in categories">
                <span v-bind:class="[category.isActive ? 'active' : '']"><router-link :to="`/projects/${category.category}`"> {{category.category}} ({{category.count}})</router-link></span>
            </p>
        </div>
    </script>
    <script type="text/x-template" id="project-details-template">    
        <div class="project-details-root">
            <left-navbar></left-navbar>
            <div class="project-details-container">
                <p class="title bold ">{{project.title}}</p>
                <br/>
                <span v-for="cat in project.categories">
                    <router-link :to="`/projects/${cat}`"> #{{cat}} </router-link>
                </span>
                <br/>
                <br/>
                <div v-html="project.content"></div>
            </div>
        </div>
    </script>
    <link rel="stylesheet" href="css/main.css">
</head>

<body>
    <div id="app">
        <div class="header">
            <p class="page-title bold">
                <router-link to="/">Shan Huang</router-link>
            </p>
            <div class="header-tabs">
                <p>
                    <router-link to="/projects">Projects</router-link>
                </p>
                <p>
                    <router-link to="/experiments">Experiments</router-link>
                </p>
                <p>
                    <router-link to="/about">About</router-link>
                </p>
            </div>
        </div>
        <div class="body">
            <router-view></router-view>
        </div>
        <div></div>
    </div>
    <div class="footer"></div>
    </div>
</body>

</html>